body {
  background-color: black;
  font-family: 'Bellefair', serif;
  color: white;
  font-size: 16px;
  margin-bottom: 0;
  background-image: url(images/London.jpg);
  background-size:cover;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 0.5
}

h2 {
  text-align: center;
  line-height: 0.8;
  font-size:30px;
}

h3 {
  color: rgba(255, 0,0,0.8);
  font-weight: 92;
  font-size: 20px;
  text-shadow: 0 0 1px rgba(0,0,0,1)

}

ul {
  list-style: none;
  display: inline-block;
}

.text-center{
  text-align: center;
}


#adnan {
  display: block;
  margin: auto;
  border-radius: 50%

}

.container {
  width: 650px;
  margin: 0 auto;
}

.card{
  background: rgba(90,90,90,0.5);
  border: 1px solid rgba(0,0,0,0.9);

}


.inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.inline {
  padding-left: 0px;
  text-align: center
}

.change-color a{
  color: rgb(0,0,0);
  font-size: 35px;
  text-align: center;
  padding-right: 125px;
}


.change-color a:hover{
  color: rgb(255,0,0);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
h1 {
  color: rgba(0,0,0,1);
}
}
